<h4 class="card-header">{{ title }}</h4>
<div *ngIf="trips.length > 0; then thenBlock; else elseBlock;"></div>
<ng-template #thenBlock>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="media mb-3" [routerLink]="['.', trip.id]" *ngFor="let trip of trips">
        <img class="mr-3 rounded-circle" [src]="photo" width="80" height="80">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{ trip.otherUser.username }}</h5>
          <strong>{{ trip.pickUpAddress }}</strong> to <strong>{{ trip.dropOffAddress }}</strong><br>
          <mark>{{ trip.status }}</mark>
        </div>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="card-body text-center">
    No trips.
  </div>
</ng-template>
